    #main{
        border-style: solid;
    }
        /* 3*3 Grid */
    #b1, #b2, #b3, #b4, #b5,
    #b6, #b7, #b8, #b9 {
        width: 80px;
        height: 52px;
        margin: auto;
        border: 1px solid gray;
        border-radius: 6px;
        font-size: 30px;
        text-align: center;
    }
        /* Player turn space */
        #print {
            font-family: Verdana,
                Geneva, Tahoma, sans-serif;
     
            color: blue;
            font-size: 20px;
        }
       * b{
            color: blue;
        }
        .signature{
            font-family: cursive;
            text-align: center;
            color: cadetblue;
            font-style: italic;
        }
